[submodule "libs/bootstrap"]
	path = libs/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "libs/Font-Awesome"]
	path = libs/Font-Awesome
	url = https://github.com/isabolic/Font-Awesome.git
[submodule "libs/jquery"]
	path = libs/jquery
	url = https://github.com/jquery/jquery.git
[submodule "libs/ol-playground"]
	path = libs/ol-playground
	url = https://github.com/isabolic/ol-playground.git
[submodule "libs/awesome-bootstrap-checkbox"]
	path = libs/awesome-bootstrap-checkbox
	url = https://github.com/isabolic/awesome-bootstrap-checkbox.git
